<header>
  <a href="/" class="logo" data-magnetic>shivati_ai</a>
  <nav>
    <ul>
      <li><a href="/" data-magnetic>Home</a></li> 
       <li><a href="/product" data-magnetic>Product</a></li>
      <li><a href="/about-us" data-magnetic>Company</a></li>
      <li><a href="/security/" data-magnetic>Security</a></li>
      <li><a href="/resources/" data-magnetic>Resources</a></li>
      <li><a href="/careers" data-magnetic>Careers</a></li>
    </ul>
  </nav>
  <a href="/demo" class="demo-button" data-magnetic>Request a Demo</a>
</header>
